{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/schemas/(.*)$",
    "^@/queries/(.*)$",
    "^@/components/(.*)$",
    "^@/modules/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
