{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^@/config/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/models/(.*)$",
    "^@/schemas/(.*)$",
    "^@/queries/(.*)$",
    "^@/stores/(.*)$",
    "^@/components/(.*)$",
    "^@/modules/(.*)$",
    "^@/(.*)$",
    "^[./]",
    "^[^./].*\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
